= form_tag '', :method => 'get', :class => 'form-horizontal', :autocomplete=>"off" do
  - if current_user.present? && current_user.try(:accessible_customers).try(:count) != 1
    .control-group
      = label_tag "Customer ID", "Customer ID", :class => 'control-label'
      = text_field_tag :customer_id, params[:customer_id],placeholder: 'Multisearch Search Enabled'
  .control-group
    = label_tag "Transfer Type", "Transfer Type", :class => 'control-label'
    = select_tag :transfer_type, options_for_select([['NEFT','NEFT'],['IMPS','IMPS'],['RTGS','RTGS'],['FT','FT'],['APBS','APBS']],params[:transfer_type]),:prompt => 'ANY'
  .control-group
    = label_tag "Transfer Status", "Transfer Status", :class => 'control-label'
    = select_tag :status_code, options_for_select([['FAILED','FAILED'],['RETURNED_FROM_BENEFICIARY','RETURNED_FROM_BENEFICIARY'],['NEW','NEW'],['SENT_TO_BENEFICIARY','SENT_TO_BENEFICIARY'],['SCHEDULED_FOR_NEXT_WORKDAY','SCHEDULED_FOR_NEXT_WORKDAY'],['IN_PROCESS','IN_PROCESS'],['COMPLETED','COMPLETED'],['ONHOLD','ONHOLD'],['Pending','Pending'],['SettlementInProcess','SettlementInProcess'],['SettlementCompleted','SettlementCompleted'],['SettlementReversed','SettlementReversed'],['CreditConfirmationReceived','CreditConfirmationReceived']],params[:status_code]),:prompt => 'ANY'
  .control-group
    = label_tag "Request Timestamp", "Request Timestamp", :class => 'control-label'
    = date_field_tag(:from_req_timestamp, params[:from_req_timestamp])
    To
    = date_field_tag(:to_req_timestamp, params[:to_req_timestamp])
  .control-group
    = label_tag "Response Timestamp", "Response Timestamp", :class => 'control-label'
    = date_field_tag(:from_rep_timestamp, params[:from_rep_timestamp])
    To
    = date_field_tag(:to_rep_timestamp, params[:to_rep_timestamp])
  .control-group
    = label_tag "Transfer Amount", "Transfer Amount", :class => 'control-label'
    = text_field_tag :from_transfer_amount, params[:from_transfer_amount]
    To
    = text_field_tag :to_transfer_amount, params[:to_transfer_amount]
  .control-group
    = label_tag "Request No", "Request No", :class => 'control-label'
    = text_field_tag :req_no, params[:req_no],placeholder: 'Multisearch Search Enabled'
  .control-group
    = label_tag "Debit Account No", "Debit Account No", :class => 'control-label'
    = text_field_tag :debit_account_no, params[:debit_account_no],placeholder: 'Multisearch Search Enabled'
  .control-group
    = label_tag "Beneficiary IFSC Code", "Beneficiary IFSC Code", :class => 'control-label'
    = text_field_tag :bene_account_ifsc, params[:bene_account_ifsc],placeholder: 'Multisearch Search Enabled'
  .control-group
    = label_tag "Operation Name", "Operation Name", :class => 'control-label'
    = select_tag :optn_name, options_for_select([['startTransfer','startTransfer'],['transfer','transfer']],params[:optn_name]),:prompt => 'ANY'
  .control-group
    = label_tag "Was SAF?", "Was SAF?", :class => 'control-label' 
    = select_tag :ws_saf, options_for_select([['Yes','Y'],['No','N']],params[:ws_saf]),:prompt => 'ANY'
  = hidden_field_tag :advanced_search, :true
  .form-actions
    = button_tag "Search", :class => 'btn btn-primary'
    = button_tag "Reset", :type => 'button', :value=>'Reset', :class => 'btn', :id => 'funds_transfer_reset'


:javascript
  $("#funds_transfer_reset").click(function() {
    $(this).closest('form').find("input,select").val("");
  });