- @title = FundsTransfer.model_name.human.pluralize

= render 'search'
%br

- columns = [:customer_id, :transfer_type, :bene_full_name, :transfer_amount, :debit_account_no, :req_timestamp, :rep_timestamp, :status_code, :user_action]
- columns.delete(:customer_id) if current_user.accessible_customers.count == 1
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    #panels.panel.panel-primary
      .panel-heading
        = @title
      .panel-body 
        %table.table#transactions_table
          %thead
            %tr
              - columns.each do |column|
                %th= FundsTransfer.human_attribute_name(column)
              %th
          %tbody
            - @transfers.each do |transfer|
              %tr
                - columns.each_with_index do |column, i|
                  %td= transfer.send(column.to_s)
        = pagination_links(@transfers)