- @title = FundsTransfer.model_name.human.pluralize
%h1=@title
%br
= render 'advanced_search'
%br

- columns = [:customer_id, :transfer_type, :bene_full_name, :transfer_amount, :debit_account_no, :req_timestamp, :rep_timestamp, :status_code, :user_action]
- columns.delete(:customer_id) if current_user.present? && current_user.try(:accessible_customers).try(:count) == 1

= hidden_field_tag :advance_search_value, @advance_search
= hidden_field_tag :page_value, params[:page]
-if @advance_search == true
  = "Total Count: #{FundsTransfer.all.size}"
  = pagination_links(@records)
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      #panels.panel.panel-primary
        .panel-body 
          %table.table#transactions_table
            %thead
              %tr
                - columns.each do |column|
                  %th= FundsTransfer.human_attribute_name(column)
                %th
            %tbody
              - @records.each do |transfer|
                %tr
                  - columns.each_with_index do |column, i|
                    %td= transfer.send(column.to_s)

:javascript
  $(document).ready(function(){
    if($("#advance_search_value").val() == "true" && $("#page_value").val() == ""){
      $(".collapsible-content").css("display","none")
    }
    else if($("#advance_search_value").val() == "false" && $("#page_value").val() != ""){
      $(".collapsible-content").css("display","none")
    }
    else
    {
      $(".collapsible-content").css("display","block")
    }
    $('input[type="text"]'). attr("placeholder", "Multisearch Search Enabled");
  });
