.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          = FundsTransfer.human_attribute_name(:request)
      .panel-body
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:req_no)
          .col-md-7.attr-vals
            = @funds_transfer.req_bitstream
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:attempt_no)
          .col-md-7.attr-vals
            = @funds_transfer.attempt_no
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:req_timestamp)
          .col-md-7.attr-vals
            = @funds_transfer.req_timestamp
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:req_version)
          .col-md-7.attr-vals
            = @funds_transfer.req_version
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:reconciled_at)
          .col-md-7.attr-vals
            = @funds_transfer.reconciled_at
        %hr
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          = FundsTransfer.human_attribute_name(:response)
      .panel-body
        .row
          .col-md-5            
            = FundsTransfer.human_attribute_name(:rep_no)
          .col-md-7.attr-vals
            = @funds_transfer.rep_bitstream
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:status_code)
          .col-md-7.attr-vals
            = @funds_transfer.status_code
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:rep_timestamp)
          .col-md-7.attr-vals
            = @funds_transfer.rep_timestamp
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:rep_version)
          .col-md-7.attr-vals
            = @funds_transfer.rep_version
        .row
          .col-md-5            
            = FundsTransfer.human_attribute_name(:notifications)
          .col-md-6
            = link_to @funds_transfer.notifications.count, notifications_funds_transfer_path(@funds_transfer)            
        %hr
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          = FundsTransfer.human_attribute_name(:transfer)
      .panel-body
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:customer_id)
          .col-md-7.attr-vals
            = @funds_transfer.customer_id
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:debit_account_no)
          .col-md-7.attr-vals
            = @funds_transfer.debit_account_no 
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:req_transfer_type)
          .col-md-7.attr-vals
            = @funds_transfer.req_transfer_type
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:transfer_type)
          .col-md-7.attr-vals
            = @funds_transfer.transfer_type
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:transfer_amount)
          .col-md-7.attr-vals
            = @funds_transfer.transfer_amount
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:rmtr_to_bene_note)
          .col-md-7.attr-vals
            = @funds_transfer.rmtr_to_bene_note
        %hr
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:bank_ref)
          .col-md-7.attr-vals
            = @funds_transfer.bank_ref                 
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          = FundsTransfer.human_attribute_name(:beneficiary)
      .panel-body
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", href: "#bene_code"} #{t :registered}
          %li
            %a{"data-toggle" => "tab", href: "#bene_account_no"} #{t :account_no}
          %li
            %a{"data-toggle" => "tab", href: "#bene_account_mmid"} #{t :mmid}
          %li
            %a{"data-toggle" => "tab", href: "#aadhaar"} #{t :aadhaar}
        .tab-content
          #bene_code.tab-pane.active
            %br
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:bene_code)
              .col-md-7.attr-vals
                = @funds_transfer.bene_code
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:name_with_bene_bank)
              .col-md-7.attr-vals               
                = @funds_transfer.name_with_bene_bank
          #bene_account_no.tab-pane
            %br
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:bene_full_name)
              .col-md-7.attr-vals              
                = @funds_transfer.bene_full_name
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:bene_account_no)
              .col-md-7.attr-vals
                = @funds_transfer.bene_account_no
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:bene_account_ifsc)
              .col-md-7.attr-vals
                = @funds_transfer.bene_account_ifsc
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:name_with_bene_bank)
              .col-md-7.attr-vals              
                = @funds_transfer.name_with_bene_bank
            .row
              .col-md-12
                .card
                  .card-block
                    %p.card-text #{t :address}
                    %address              
          #bene_account_mmid.tab-pane
            %br
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:bene_full_name)
              .col-md-7.attr-vals               
                = @funds_transfer.bene_full_name
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:bene_account_mmid)
              .col-md-7.attr-vals             
                = @funds_transfer.bene_account_mmid
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:bene_account_mobile_no)
              .col-md-7.attr-vals               
                = @funds_transfer.bene_account_mobile_no
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:name_with_bene_bank)
              .col-md-7.attr-vals               
                = @funds_transfer.name_with_bene_bank
          #aadhaar.tab-pane
            %br
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:aadhaar_no)
              .col-md-7.attr-vals              
                = @funds_transfer.aadhaar_no
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:aadhaar_mobile_no)
              .ccol-md-7.attr-vals              
                = @funds_transfer.aadhaar_mobile_no
            .row
              .col-md-5
                = FundsTransfer.human_attribute_name(:bene_bank_name)
              .col-md-7.attr-vals              
                = @funds_transfer.bene_bank_name
      .panel-body
        %hr
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:bene_contact_mobile_no)
          .col-md-7.attr-vals
            = @funds_transfer.bene_contact_mobile_no
        .row
          .col-md-5
            = FundsTransfer.human_attribute_name(:bene_contact_email_id)
          .col-md-7.attr-vals
            = @funds_transfer.bene_contact_email_id            
= link_to 'Back', funds_transfers_path, class: 'btn'