%br
= link_to "New Purge SAF Transfer", new_ft_purge_saf_transfer_path
%br
%br
%h1 Listing Purge SAF Transfer Records
%br
= "Total Count: #{FtPurgeSafTransfer.all.size}"
= will_paginate @records, :page_links => true
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      From Request Timestamp
    %th{:style=>'text-align:left; background-color: lightblue;'}
      To Request Timestamp
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Customer ID
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Operation Name
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Request Transfer Type
  .tbody
    - @records.each do |purge_saf_transfer|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', purge_saf_transfer
        %td{:style=>'text-align:left;'}
          = purge_saf_transfer.from_req_timestamp.try(:strftime, "%d/%m/%Y %I:%M%p")
        %td{:style=>'text-align:left;'}
          = purge_saf_transfer.to_req_timestamp.try(:strftime, "%d/%m/%Y %I:%M%p")
        %td{:style=>'text-align:left;'}
          = purge_saf_transfer.customer_id
        %td{:style=>'text-align:left;'}
          = purge_saf_transfer.op_name
        %td{:style=>'text-align:left;'}
          = purge_saf_transfer.req_transfer_type
